{% extends 'layout/base.html.twig' %}

{% block body %}

    <div class="container">
        <footer id="footerProjet" class="row">
            <div class="col-md-6">
                <div id="textProjet">
                    <h1>Every person</h1>
                    <blockquote>needs to know about blockchain
                        <br>because it might be one of the world's
                        <br>most important developments.
                    </blockquote>
                </div>
                <div style="margin-left: 15%">
                    <img class="line1" src="{{ asset('img/line.png') }}"><br>
                    <p>M.Ratsiraka, Developper, Co-Founder</p>
                </div>
<div style="text-align: left;margin-top: 15%">
                <button id="buttonInvolved" >
                    < get involved !
                </button><br><br>
    <div style="margin-left: 15%">
       name   <<input id="nom" type="text">>
        <br>
        <div id="start">
            <<input id="start2" type="text" placeholder="start">>
        </div>
</div>
                </div>
            </div>

            <div class="col-md-6">
                    <h1 style="margin-top: 5%">< projets</h1>
                <div style="margin-left: 25%;margin-top: 5%;">
                    <p> industries ></p>
                    <p> applications ></p>
                    <p> source codes ></p>
                    <p> testimonials ></p>
                </div>
                <br>
            </div>
        </footer>

    </div>

{% endblock %}