@font-face {
  font-family: 'nowayregular2';
  src: url('../noway-webfont/noway-regular-webfont.woff2') format('woff2'),
  url('../noway-webfont/noway-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}