

/* Page Home*/
.container{
    background: rgba(255, 94, 6, 0.61);
}

.img1{
    background-image: url(/img/F3.jpg);
    background-size: 100% 100%; /*cover ou contain*/

}

.img2{
    background-image: url(/img/L2.jpg);
    background-size: 100% 120%; /*cover ou contain*/
}

#body{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    color: yellow;


}

header {
    width: auto;
    height: 15%;
}

#ligne2,#ligne2-2{
    width: auto;
    height: 28%;
}

#ligne2Interne{
    height: 100%;
}

#ligne3 {

    width: auto;
    height: 47%;
}

footer {
    width: auto;
    height:10%;
}

#line2Home2{
    margin-left: 64%;
    width: 110px;
    margin-top: -8%;
}

#bandeauNoir2{
    height: 50%;
    width: 100%;
    opacity: 0.5;
    background: rgb(0, 0, 0);
    animation-duration: 1s;
    margin-top: 45%;
}

/*  General*/

body,html,.container,.container2{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: nowayregular2 Serif !important;
}

#bandeauNoir {
     height: 100%;
     width: 100%;
     opacity: 0.5;
     background: rgb(0, 0, 0);
     animation-duration: 1s;
 }

#paragraphe,#paragraphe2 {
    text-align: center;
    color: beige;
    font-size: large;
    animation-delay: 2.3s;
    transition-delay: 2s;

}

#text{
   text-align: left;
    margin-left: 35%;
}

/* Icon HomePage    */

#title {
    animation-delay: 2.6s;
    text-align: center;
    padding-top: 8%;
}

.tailleIcon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
}

#les3Icons {
    padding-top: 25%;
    text-align: center;
    animation-delay:1.2s ;
}

#les4Icons {
    text-align: center;
    padding-top: 22%;
}

#iconMenu {
    animation-delay: 0.3s;
}

#iconAccount {

    animation-delay: 0.6s;
}

#iconContact {
    animation-delay: 0.9s;
}

#boutonNext {
    padding-top: 35%;
    padding-left: 60%;
    animation-delay: 1.2s;
    font-size: small;
}

#IconIsole{
    animation-delay: 1.2s;
}
#learn {
    text-align: center;
    padding-top: 70%;
    height:100%;
}

#cite {
    padding-right: 100px;
    margin-bottom: 1%;
}

#line1 {
    width: 110px;
    margin-right: 5%;
}
#line2 {
    margin-top: -3.8%;
    margin-left: 58%;
    width: 110px;
}

#citeEtLine {
    margin-right: 20%;
}

#motFin {
    margin-left: 42%;
    color: yellow;
    margin-top: -2%;
}

#motFin2{
    margin-left: 37%;
    color: yellow;
    margin-top: -4%;
}
/*AJOUT POUR HOMEPAGE*/

a {
    display: inline-block;
    font-size: small;
    color: yellow;
    text-align: center;
}

.txtSousMenu {
    margin-right: 32%;
}
@media all and (min-width: 580px) and (max-width: 768px){

    #les4Icons{
        text-align: right;
        background: rgba(200, 37, 10, 0.83);
    }
}
@media all and (max-width :580px){
    #les4Icons{
        text-align: center;
        background: rgba(200, 37, 10, 0.83);
    }

#citeEtLine{
    margin-left: 47%;
 }
}


#button{
    background: url('/img/icon/slide suivant.png') no-repeat;
    background-size: 40px 40px;
    cursor:pointer;
    border: none;
    width: 40px;
    height: 40px;
}

#buttonProject,#Precedent,#Suivant{
    cursor:pointer;
    border: none;
    background: none;
    color: yellow;
}
/* PageMenu*/

#title2 {
    animation-delay: 2.6s;
    padding-left: 20%;
    padding-top: 5%;
}

#les3IconsMenu{
    padding-top: 15%;
    text-align: center;
    animation-delay:1.2s ;
}
#headMenu{
    background-color: #ff8812;
    height: 10%;
}

#photo1{
    background: url(/img/pageMenu/mereFilleO.jpg);
    background-size: cover;


}
#photo2{
    background: url(/img/pageMenu/childO.jpg);
    background-size: cover;
}


#photo3{
    background: url(/img/pageMenu/mereFilsO.jpg);
    background-size: cover;
      }
#photo4 {
    background: url(/img/pageMenu/teenagerO.jpg);
    background-size: cover;
}

#ligne1Menu{
    height: 45%;
    text-align: left;
    color: beige;
}

#footerMenu{height:45%;}

#bodyMenu{
    height: 100%;
    width: 100%;

    /*color: navajowhite;*/

}
#BoutonProjetLien{ font-size:large;}

#buttonProjet2{
    color: beige;
    border: none;
    background: none;
    margin-left: 10%;
}
/* fin pageMenu*/

#footerProjet{
    background: url(/img/pageProjet/childProjet.jpg);
    background-size: cover;
}

#textProjet{
    margin-left: 15%;
    margin-top: 10%;
}

#nom,#start2,#buttonInvolved{
    cursor:pointer;
    border: none;
    background: none;
    /*color: navajowhite;*/
    color: beige;
}
#start{margin-left:6.5% }

/* formulaire*/

.slide,.slide2,.submit{
    display: none;
}

#NextForm{
    background: url('/img/icon/arriere.png') no-repeat;
    padding-top: 35%;
    padding-left: 60%;
    animation-delay: 1.2s;
    font-size: small;
}

#SuivantForm{
    background: url('/img/icon/suivant.png') no-repeat;
    padding-top: 35%;
    padding-left: 60%;
    animation-delay: 1.2s;
    font-size: small;
}

.sizeText{
    font-size: 22px;
}