@import "bootstrap/bootstrap";
@import "animate";
@import "fonts";
@import "mixins";
@import "buttons";

$size-icon: 40px;
$color-black: #000;
$color-yellow: yellow;
$color-white:white ;
$color-orange:#ff8812 ;

$background-img1: url(../img/F3.jpg);
$background-img2: url(../img/lady.jpg);

$photo1:url(../img/pageMenu/mereFilleO.jpg);
$photo2:url(../img/pageMenu/childO.jpg);
$photo3:url(../img/pageMenu/mereFilsO.jpg);
$photo4:url(../img/pageMenu/teenagerO.jpg);

[class*="col-"] {
  border: 2px solid $color-black;
}
html{
  background: $color-orange;
}
 body {
   //overflow: hidden;
   font-family: nowayregular2, serif;
   height: 100%;
   width: 100%;
   color: $color-white;
   text-shadow: 0 0 3px #FF0000;
   margin: 0;
   padding: 0;
 }
    .img1 {
      background: $background-img1 center center;
      background-size: cover;
    }
    .img2 {
      background: $background-img2 center center;
      background-size: cover;
    }
   .container {
     width: 100%;
     height: 100%;
     margin: 0;
     padding: 0;
   }
    .container .row {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      .title {
        img {
          @include center-image;
          animation-delay: 2.6s;
        }
      }
      .les-3-icons {
        display: flex;
        justify-content: space-around;
        vertical-align: middle;
        padding-top: 1%;
        a {
          @include center-element();

          img {
            width: $size-icon;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }


#ligne1{
  div[class*="col-"]{
    min-height: 6rem;
  }

}

#ligne2{
  height: 11rem;
  .bandeau-noir2{
    position: absolute;
    opacity: 0.5;
    background: $color-black;
    animation-duration: 1s;
    height: 8rem;
  }
  .learn {
    height: 100%;
    @include center-element();
    a{
      display: inline-block;
      font-size: small;
    }
  }
}




#ligne2-2{
  height: 11rem;
  .bandeau-noir2{
    position: absolute;
    opacity: 0.5;
    background: $color-black;
    animation-duration: 1s;
    height: 8rem;
  }
  .learn {
    height: 100%;
    @include center-element();
    a{
      display: inline-block;
      font-size: small;
    }
  }
}


#ligne3 {
div[class*="col-"]{
  min-height: 31rem;
}

}
  .bandeau-noir {
    position: absolute;
    opacity: 0.5;
    background: $color-black;
    animation-duration: 1s;
    min-height:11rem;
  }

#button{
  background: url('../img/icon/slide suivant.png') no-repeat;
  background-size: 40px 40px;
  cursor:pointer;
  border: none;
  width: 40px;
  height: 40px;
  @include center-image;
}

#boutonNext {
  @include center-image;
  animation-delay: 1.2s;
}

#ligne2-2{
      height: 11rem;
    .bandeau-noir2{
      position: absolute;
      opacity: 0.5;
      background: $color-black;
      animation-duration: 1s;
      height: 8rem;
    }
    .learn {
      height: 100%;
      @include center-element();
      a{
        display: inline-block;
        font-size: small;
      }
    }
  }


  #line2Home2{
    margin-left: 64%;
    width: 110px;
    margin-top: -7%;
  }

  #bandeauNoir {
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background: rgb(0, 0, 0);
    animation-duration: 1s;
  }

  #paragraphe {
    text-align: center;
    color: beige;
    font-size: large;
    animation-delay: 2.3s;
    transition-delay: 2s;
  }
  #paragraphe2{
    text-align: center;
    color: beige;
    font-size: large;
    animation-delay: 2.3s;
    transition-delay: 2s;
}
  .text{
    text-align: left;
    margin-left: 35%;
  }

  .tailleIcon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
  }

  #iconMenu {
    animation-delay: 0.3s;
  }

  #iconAccount {

    animation-delay: 0.6s;
  }

  #iconContact {
    animation-delay: 0.9s;
  }

  #IconIsole{
    animation-delay: 1.2s;
  }

  #cite {
    padding-right: 100px;
    margin-bottom: 1%;
  }

  #line1 {
    width: 110px;
    margin-right: 5%;
  }
  #line2 {
    margin-top: -3.8%;
    margin-left: 58%;
    width: 110px;
  }

  #citeEtLine {
    margin-right: 20%;
  }

  #motFin {
    margin-left: 42%;
    color: yellow;
    margin-top: -2%;
  }

  #motFin2{
    margin-left: 37%;
    color: yellow;
    margin-top: -4%;
  }
  a {
    display: inline-block;
    font-size: small;
    color: yellow;
    text-align: center;
  }

  .txtSousMenu {
    margin-right: 32%;
  }

  #Precedent,#Suivant{
    cursor:pointer;
    border: none;
    background: none;
    color: yellow;
  }

/* PageMenu*/

.color-orange{
  background-color: $color-orange;
}

.title2 {
  animation-delay: 2.6s;
  padding-left: 20%;
  padding-top: 5%;
}

#photo1{
  background: $photo1;
  background-size: cover;
}
#photo2{
  background: $photo2;
  background-size: cover;
}

#photo3{
  background: $photo3;
  background-size: cover;
}
#photo4 {
  background: $photo4;
  background-size: cover;
}

#ligne1Menu{
  height: 19rem;
  text-align: left;
  color: beige;
}

#footerMenu{height:24rem;}

#footerProjet{
  height: 47rem;
  background: url(../img/pageProjet/childProjetO.jpg);
  background-size: cover;
}

#textProjet{
  margin-left: 15%;
  margin-top: 10%;
}

#nom,#start2,#buttonInvolved{
  cursor:pointer;
  border: none;
  background: none;
  color: beige;
}
#start{margin-left:6.5% }

/* formulaire*/

.slide,.slide2,.submit{
  display: none;
}

#NextForm{
  background: url('../img/icon/arriere.png') no-repeat;
  padding-top: 35%;
  padding-left: 60%;
  animation-delay: 1.2s;
  font-size: small;
}

#SuivantForm{
  background: url('../img/icon/suivant.png') no-repeat;
  padding-top: 35%;
  padding-left: 60%;
  animation-delay: 1.2s;
  font-size: small;
}

.sizeText{
  font-size: 22px;
}
#ligne2Form{
  height: 12rem;
  background-color:  #ff4d00;

}
#ligne3Form{
  height: 31rem;
  background-color: #ff4d00;
}

/*AJOUT POUR HOMEPAGE*/

@media all and (min-width: 580px) and (max-width: 768px){

  #footer{
    background: rgba(200, 37, 10, 0.83);
  }
}
@media all and (max-width :580px){
  #footer{
    background: rgba(200, 37, 10, 0.83);
  }
  #citeEtLine{
    margin-left: 47%;
  }
}

