
/*AJOUT POUR HOMEPAGE*/

@media all and (min-width: 580px) and (max-width: 768px){

    #les4Icons{
        text-align: right;
        background: rgba(200, 37, 10, 0.83);
    }
}
@media all and (max-width :580px){
    #les4Icons{
        text-align: center;
        background: rgba(200, 37, 10, 0.83);
    }

#citeEtLine{
    margin-left: 47%;
 }
}



/* PageMenu*/

#title2 {
    animation-delay: 2.6s;
    padding-left: 20%;
    padding-top: 5%;
}

#les3IconsMenu{
    padding-top: 15%;
    text-align: center;
    animation-delay:1.2s ;
}
#headMenu{
    background-color: #ff8812;
    height: 10%;
}

#photo1{
    background: url(../img/pageMenu/mereFilleO.jpg);
    background-size: cover;


}
#photo2{
    background: url(../img/pageMenu/childO.jpg);
    background-size: cover;
}


#photo3{
    background: url(../img/pageMenu/mereFilsO.jpg);
    background-size: cover;
      }
#photo4 {
    background: url(../img/pageMenu/teenagerO.jpg);
    background-size: cover;
}

#ligne1Menu{
    height: 45%;
    text-align: left;
    color: beige;
}

#footerMenu{height:45%;}

#bodyMenu{
    height: 100%;
    width: 100%;

    /*color: navajowhite;*/

}
#BoutonProjetLien{ font-size:large;}

#buttonProjet2{
    color: beige;
    border: none;
    background: none;
    margin-left: 10%;
}
/* fin pageMenu*/

#footerProjet{
    background: url(../img/pageProjet/childProjet.jpg);
    background-size: cover;
}

#textProjet{
    margin-left: 15%;
    margin-top: 10%;
}

#nom,#start2,#buttonInvolved{
    cursor:pointer;
    border: none;
    background: none;
    /*color: navajowhite;*/
    color: beige;
}
#start{margin-left:6.5% }

/* formulaire*/

.slide,.slide2,.submit{
    display: none;
}

#NextForm{
    background: url('../img/icon/arriere.png') no-repeat;
    padding-top: 35%;
    padding-left: 60%;
    animation-delay: 1.2s;
    font-size: small;
}

#SuivantForm{
    background: url('../img/icon/suivant.png') no-repeat;
    padding-top: 35%;
    padding-left: 60%;
    animation-delay: 1.2s;
    font-size: small;
}

.sizeText{
    font-size: 22px;
}